<!-- For messages -->
{% if messages %}
    {% for msg in messages %}
        {% if msg.tags == 'error' %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ msg }}</strong> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% else %}    
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ msg }}</strong> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}


<!--For Register Form error Messages-->

{% if form.errors %}

	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<div class="container ">Register Form Has Errors</div>
			{% for field in form %}
			{% if field.errors %}
			  	{{ field.errors }}
			{% endif %}
			{% endfor %}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

{% endif %}